body{
    background-color: teal;
    font-family: 'Courier New', Courier, monospace;
}
.line{
    height: 40px;
    background-color: green;
    color: red;
    text-transform: capitalize;
    text-align: justify;
    line-height: 65px;
    width: 300px;
}
.dottedbox{
    background-color: white;
    border:3px dotted black;
    width:850px;
    height:450px;
    text-transform:capitalize;
    position: absolute;
    bottom: 10px;
}
span.a{
    background-color: grey;
    display:inline;/** default for span**/
}
span.b{
    background-color: red;
    display:inline;
}
.c{
    background-color: yellow;
    display:inline; 
}
p::first-letter{
    font-size:3rem;
    font-weight:bold;
}