body{background-color:#d25d0e;
    font-family: 'Courier New', Courier, monospace;}
    h1{
        color: red;}
    h2{
        color:white;}
    p{font-size: 25pt;}
    h3{
        color:white;}
    p{font-size: 10pt;}
    div.bigbox{
        width: 152px;
        height: 173px;
        background-color: white;
        padding: 0.1%;
    }
    .hrline{
        /*align-items: block;*/
        height: 40px;
        background-color: yellow;
    }
    .ex7_S_image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height: 40px;
    }
    .univ{
        width:150px;
        height:40px;
        border:2px solid white;
        background-color: blue;
        border-radius: 10px;
        color: white; 
        text-align: center;
        line-height: 40px;
    }

    